[Desktop Entry]
Name=kgraphviewerPart
Name[be]=kgraphviewerPart
Name[bg]=kgraphviewerPart
Name[bs]=kgraphviewerPart
Name[ca]=kgraphviewerPart
Name[ca@valencia]=kgraphviewerPart
Name[cs]=kgraphviewerPart
Name[da]=kgraphviewerPart
Name[de]=kgraphviewerPart
Name[el]=kgraphviewerPart
Name[en_GB]=kgraphviewerPart
Name[es]=kgraphviewerPart
Name[et]=kgraphviewerPart
Name[eu]=kgraphviewerPart
Name[fi]=kgraphviewerPart
Name[fr]=Composant KGraphViewer
Name[ga]=kgraphviewerPart
Name[gl]=kgraphviewerPart
Name[he]=kgraphviewerPart
Name[hi]=केग्राफव्यूअरपार्ट
Name[hne]=केग्राफव्यूअरपार्ट
Name[hr]=kgraphviewerPart
Name[hu]=kgraphviewerPart
Name[is]=kgraphviewerPart
Name[it]=Componente kgraphviewer
Name[ja]=kgraphviewerPart
Name[km]=kgraphviewerPart
Name[ko]=kgraphviewerPart
Name[ku]=kgraphviewerPart
Name[lt]=kgraphviewerPart
Name[lv]=kgraphviewerPart
Name[ml]=കെഗ്രാഫ്‌വ്യൂവര്‍പാര്‍ട്ട്
Name[mr]=के-ग्राफ-व्यूअर-पार्ट
Name[ms]=kgraphviewerPart
Name[nb]=kgraphviewerPart
Name[nds]=KGraphViewer-Komponent
Name[nl]=kgraphviewer-component
Name[nn]=kgraphviewerPart
Name[pa]=kgraphviewerPart
Name[pl]=Moduł KGraphViewer
Name[pt]=kgraphviewerPart
Name[pt_BR]=kgraphviewerPart
Name[ro]=kgraphviewerPart
Name[ru]=KGraphViewerPart
Name[sk]=kgraphviewerPart
Name[sl]=kgraphviewerPart
Name[sv]=Grafvisningsdel
Name[th]=kgraphviewerPart
Name[tr]=kgraphviewerPart
Name[uk]=kgraphviewerPart
Name[vi]=kgraphviewerPart
Name[x-test]=xxkgraphviewerPartxx
Name[zh_TW]=kgraphviewerPart
Comment=Graphviz DOT files viewer
MimeType=text/vnd.graphviz
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=kgraphviewerpart
Type=Service
InitialPreference=10
Categories=Qt;KDE;Graphics;Viewer;2DGraphics;DataVisualization;

X-KDE-PluginInfo-Name=kgraphviewerpart
X-KDE-PluginInfo-Version=@PROJECT_VERSION@
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Copyright=Copyright 2005-2006 Gaël de Chalendar
X-KDE-PluginInfo-Author=Gaël de Chalendar
X-KDE-PluginInfo-Email=kleag@free.fr
