[Desktop Entry]
Encoding=UTF-8
Name=kgraphviewerPart
Name[x-test]=xxkgraphviewerPartxx
MimeType=application/graphviz;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkgraphviewerpart
Type=Service
