[Desktop Entry]
Name=KGraphViewer
Name[ca]=KGraphViewer
Name[ca@valencia]=KGraphViewer
Name[cs]=KGraphViewer
Name[da]=KGraphViewer
Name[de]=KGraphViewer
Name[el]=KGraphViewer
Name[es]=KGraphViewer
Name[et]=KGraphViewer
Name[fi]=KGraphViewer
Name[fr]=KGraphViewer
Name[ga]=KGraphViewer
Name[gl]=KGraphViewer
Name[hu]=KGraphViewer
Name[is]=KGraphViewer
Name[it]=KGraphViewer
Name[km]=KGraphViewer
Name[lt]=KGraphViewer
Name[mr]=के-ग्राफ-व्यूअर
Name[nb]=KGraphViewer
Name[nl]=KGraphViewer
Name[pl]=KGraphViewer
Name[pt]=KGraphViewer
Name[pt_BR]=KGraphViewer
Name[ru]=KGraphViewer
Name[sk]=KGraphViewer
Name[sl]=Pregledovalnik KGraph
Name[sv]=Kgraphviewer
Name[tr]=KGraphViewer
Name[uk]=KGraphViewer
Name[x-test]=xxKGraphViewerxx
Name[zh_TW]=KGraphViewer
Exec=kgraphviewer %i -caption %c
Icon=kgraphviewer
Type=Application
Categories=Qt;KDE;Graphics;Viewer;2DGraphics;DataVisualization;
X-DocPath=kgraphviewer/index.html
Comment=A Graphviz dot graph viewer for KDE
Comment[bg]=Преглед на Graphviz-графики в KDE
Comment[bs]=Graphviz tačkasti grafički editor za KDE
Comment[ca]=Un visor de gràfiques de punts de Graphviz pel KDE
Comment[ca@valencia]=Un visor de gràfiques de punts de Graphviz pel KDE
Comment[cs]=Prohlížeč bodových grafů Graphviz pro KDE
Comment[da]=Et visningsprogram af Graphviz dot til KDE
Comment[de]=Ein Graphviz-Dot-Diagrammbetrachter für KDE
Comment[el]=Ένας προβολέας γραφικών Graphviz για το KDE
Comment[en_GB]=A Graphviz dot graph viewer for KDE
Comment[es]=Un visualizador de gráficas Graphviz para KDE
Comment[et]=KDE GraphVizi dot-graafide näitaja
Comment[eu]=KDEren Graphviz formatuko grafikoen ikustailea
Comment[fr]=Un éditeur de graphes DOT au format Graphviz pour KDE
Comment[ga]=Amharcán graf Graphviz i bhformáid 'dot' le haghaidh KDE
Comment[gl]=Un visor de gráficos de Graphviz dot para KDE
Comment[he]=תוכנת KDE לתצוגה של גרפים בעזרת רכיב Graphviz
Comment[hi]=केडीई के लिए ग्राफ़विज डाट ग्राफ प्रदर्शत
Comment[hne]=केडीई बर ग्राफविज डाट ग्राफ प्रदर्सक
Comment[hu]=Graphviz dot gráfmegjelenítő KDE-hez
Comment[is]=Graphviz skoðari fyrir punktgröf í KDE
Comment[it]=Un visore di grafi dot di GraphViz per KDE
Comment[ja]=KDE のための Graphviz DOT グラフビューア
Comment[km]=កម្មវិធី​មើល​ក្រាហ្វ​ចំណុច​ Graphviz ​សម្រាប់​ KDE
Comment[ku]=Nîşanderê Graphviz xêza bi xal ji bo KDE
Comment[lt]=Graphviz dot grafų žiūryklė skirta KDE
Comment[lv]=Graphviz dot grafu skatītājs priekš KDE
Comment[ml]=കെഡിഇയ്ക്കുവേണ്ടിയുള്ള ഗ്രാഫ്‌‌വിസിന്റെ ഡോട്ട് ഗ്രാഫ് ദര്‍ശിനി
Comment[mr]=केडीई करिता ग्राफ़विज डोट ग्राफ प्रदर्शक
Comment[nb]=En Graphviz punktgraf-viser for KDE
Comment[nds]=En Kieker för GraphViz-Dot-Diagrammen för KDE
Comment[nl]=Een Graphviz puntgrafiek-viewer voor KDE
Comment[pa]=ਕੇਡੀਈ ਲਈ ਇੱਕ ਗਰਾਫ਼ਵਿਜ਼ ਡਾਟ ਗਰਾਫ਼ ਐਡੀਟਰ
Comment[pl]=Przeglądarka grafów programu GraphViz dla KDE
Comment[pt]=Um visualizador de grafos pontuais para o KDE
Comment[pt_BR]=Um visualizador de gráfico de pontos Graphviz para o KDE
Comment[ro]=Un vizualizator KDE de grafice punctate Graphviz
Comment[ru]=Программа просмотра графов Graphviz для KDE
Comment[sk]=Graphviz, bodový grafický prehliadač pre KDE
Comment[sl]=Pregledovalnik grafov Graphviz dot za KDE
Comment[sv]=Visning av Graphviz dot-grafer för KDE
Comment[th]=เครื่องมือแสดงกราฟของ Graphviz dot สำหรับ KDE
Comment[tr]=KDE için Graphviz nokta grafik gösterici
Comment[ug]=KDE ئۈچۈن Graphviz چېكىتلىك شەكىللەرنى كۆرگۈ
Comment[uk]=Переглядач точкових графіків Graphviz для KDE
Comment[vi]=Bộ xem đồ thị chấm GraphViz cho KDE
Comment[x-test]=xxA Graphviz dot graph viewer for KDExx
Comment[zh_CN]=一个 KDE 的 Graphviz Dot 图查看器
Comment[zh_TW]=Graphviz 圖形檢視器
Terminal=false
