[Desktop Entry]
Encoding=UTF-8
Name=kgraphviewer
Name[de]=KGraphViewer
Name[is]=KGraphViewer
Name[nds]=KGraphViewer
Name[pa]=ਕੇ-ਗਰਾਫ਼ ਦਰਸ਼ਕ
Exec=kgraphviewer %i -caption "%c"
Icon=kgraphviewer
Type=Application
Categories=Qt;KDE;Application;Graphics;
DocPath=kgraphviewer/index.html
Comment=A Graphviz dot graph viewer for KDE
Comment[bg]=Програма за преглед на Graphviz-графики в KDE
Comment[ca]=Un visualitzador de gràfic de punts Graphviz pel KDE
Comment[da]=Et visningsprogram af Graphviz dot for KDE
Comment[de]=Graphviz Graph-Visualisierung für KDE
Comment[el]=Ένας προβολέας γραφικών Graphviz για το KDE
Comment[en_GB]=A Graphiz dot-graph viewer for KDE
Comment[es]=Un visualizador de gráficos puntuales para KDE
Comment[et]=KDE Graphviz dot-graafikute näitaja
Comment[ga]=Amharcán poncghraif Graphviz le haghaidh KDE
Comment[gl]=Un visor de gráficos de Graphviz para KDE
Comment[is]=Graphviz dot línuritaskoðari fyrir KDE
Comment[it]=Un visore di grafi dot di GraphViz per KDE
Comment[ja]=KDE のための Graphviz ドットグラフビューア
Comment[ka]=Graphviz-ის dot გრაფიკების დასათვალიერებელი პროგრამა KDE-თვის
Comment[nds]=Kieker för GraphViz-Dot-Diagrammen för KDE
Comment[nl]=Een Graphviz puntgrafiek-viewer voor KDE
Comment[pa]=KDE ਲਈ Graphviz ਡਾਟ ਗਰਾਫ਼ ਦਰਸ਼ਕ
Comment[pt]=Um visualizador de grafos pontuais para o KDE
Comment[sk]=KDE prehliadač Graphviz dot grafov
Comment[sv]=Ett visningsprogram av Graphviz dot för KDE
Comment[uk]=Переглядач графіків Graphviz для KDE
Terminal=false
