[Desktop Entry]
Name=kgraphviewer
Name[x-test]=xxkgraphviewerxx
Exec=kgraphviewer %i -caption "%c"
Icon=kgraphviewer
Type=Application
Categories=Qt;KDE;Graphics;
X-DocPath=kgraphviewer/index.html
Comment=A Graphviz dot graph viewer for KDE
Comment[x-test]=xxA Graphviz dot graph viewer for KDExx
Terminal=false
