[Desktop Entry]
Name=kgrapheditor
Name[x-test]=xxkgrapheditorxx
Exec=kgrapheditor %U
Icon=kgrapheditor
Type=Application
Categories=Qt;KDE;Graphics;
X-DocPath=kgrapheditor/kgrapheditor.html
Comment=A Graphviz dot graph editor for KDE
Comment[x-test]=xxA Graphviz dot graph editor for KDExx
Terminal=false
