[Desktop Entry]
Name=KGraphViewer
Name[bs]=KGraphViewer
Name[ca]=KGraphViewer
Name[ca@valencia]=KGraphViewer
Name[cs]=KGraphViewer
Name[da]=KGraphViewer
Name[de]=KGraphViewer
Name[el]=KGraphViewer
Name[en_GB]=KGraphViewer
Name[es]=KGraphViewer
Name[et]=KGraphViewer
Name[eu]=KGraphViewer
Name[fi]=KGraphViewer
Name[fr]=KGraphViewer
Name[ga]=KGraphViewer
Name[gl]=KGraphViewer
Name[hu]=KGraphViewer
Name[is]=KGraphViewer
Name[it]=KGraphViewer
Name[km]=KGraphViewer
Name[ko]=KGraphViewer
Name[lt]=KGraphViewer
Name[mr]=के-ग्राफ-व्यूअर
Name[nb]=KGraphViewer
Name[nds]=KGraphViewer
Name[nl]=KGraphViewer
Name[nn]=KGraphViewer
Name[pa]=ਕੇ-ਗਰਾਫ਼-ਦਰਸ਼ਕ
Name[pl]=KGraphViewer
Name[pt]=KGraphViewer
Name[pt_BR]=KGraphViewer
Name[ru]=KGraphViewer
Name[sk]=KGraphViewer
Name[sl]=Pregledovalnik KGraph
Name[sv]=Kgraphviewer
Name[tr]=KGraphViewer
Name[uk]=KGraphViewer
Name[x-test]=xxKGraphViewerxx
Name[zh_TW]=KGraphViewer
MimeType=text/vnd.graphviz
Exec=kgraphviewer -qwindowtitle %c %u
Icon=kgraphviewer
Type=Application
StartupWMClass=kgraphviewer
Categories=Qt;KDE;Graphics;Viewer;2DGraphics;DataVisualization;
X-DocPath=kgraphviewer/index.html
InitialPreference=10
GenericName=Graphviz DOT graph viewer
GenericName[ca]=Visor de gràfics DOT del Graphviz
GenericName[ca@valencia]=Visor de gràfics DOT del Graphviz
GenericName[en_GB]=Graphviz DOT graph viewer
GenericName[es]=Visor de grafos DOT de Graphviz
GenericName[nl]=Graphviz DOT-grafiek-viewer
GenericName[pt]=Visualizador de grafos DOT do Graphviz
GenericName[sv]=Visning av Graphviz dot-grafer
GenericName[uk]=Засіб перегляду графів DOT Graphviz
GenericName[x-test]=xxGraphviz DOT graph viewerxx
Comment=A Graphviz DOT graph viewer
Comment[ca]=Un visor de gràfics DOT del Graphviz
Comment[ca@valencia]=Un visor de gràfics DOT del Graphviz
Comment[cs]=Prohlížeč bodových grafů Graphviz
Comment[de]=Ein Anzeigeprogramm für Graphviz-Dot-Diagramme
Comment[el]=Ένας προβολέας γράφων Graphviz DOT
Comment[en_GB]=A Graphviz DOT graph viewer
Comment[es]=Un visor de grafos DOT de Graphviz
Comment[eu]=Graphviz DOT grafiko erakusle bat
Comment[fr]=Un éditeur de graphes « DOT » au format « Graphviz »
Comment[gl]=Un visor de gráficos de Graphviz DOT.
Comment[is]=Graphviz skoðari fyrir punktgröf
Comment[it]=Un visore di grafi DOT di Graphviz
Comment[ko]=Graphviz DOT 그래프 뷰어
Comment[nl]=Een Graphviz DOT-grafiek-viewer
Comment[pl]=Przeglądarka grafów Graphviz DOT
Comment[pt]=Um visualizador de grafos DOT do Graphviz
Comment[pt_BR]=Um visualizador de grafos DOT do Graphviz
Comment[ru]=Программа просмотра графов Graphviz
Comment[sl]=Pregledovalnik grafov Graphviz DOT
Comment[sv]=Visning av Graphviz dot-grafer
Comment[tr]=Graphviz DOT graf görüntüleyici
Comment[uk]=Засіб перегляду графів DOT Graphviz
Comment[x-test]=xxA Graphviz DOT graph viewerxx
Comment[zh_TW]=Graphviz DOT 圖形檢視器
Terminal=false
