[Desktop Entry]
Name=KGraphEditor
Name[ast]=KGraphEditor
Name[bs]=KGraphEditor
Name[ca]=KGraphEditor
Name[ca@valencia]=KGraphEditor
Name[cs]=KGraphEditor
Name[da]=KGraphEditor
Name[de]=KGraphEditor
Name[el]=KGraphEditor
Name[en_GB]=KGraphEditor
Name[es]=KGraphEditor
Name[et]=KGraphEditor
Name[fi]=KGraphEditor
Name[fr]=KGraphEditor
Name[ga]=KGraphEditor
Name[gl]=kgrapheditor
Name[hu]=KGraphEditor
Name[is]=KGraphEditor
Name[it]=KGraphEditor
Name[km]=KGraphEditor
Name[ko]=KGraphEditor
Name[lt]=KGraphEditor
Name[mr]=के-ग्राफ-एडिटर
Name[nb]=KGraphEditor
Name[nds]=KGraphEditor
Name[nl]=KGraphEditor
Name[nn]=KGraphEditor
Name[pl]=KGraphEditor
Name[pt]=KGraphEditor
Name[pt_BR]=KGraphEditor
Name[ru]=KGraphEditor
Name[sk]=KGraphEditor
Name[sl]=Urejevalnik KGraph
Name[sv]=Kgrapheditor
Name[tr]=KGraphEditor
Name[uk]=KGraphEditor
Name[x-test]=xxKGraphEditorxx
Name[zh_TW]=KGraphEditor
MimeType=text/vnd.graphviz
Exec=kgrapheditor %U
#Icon=kgrapheditor
Icon=kgraphviewer
Type=Application
Categories=Qt;KDE;Graphics;2DGraphics;DataVisualization;
InitialPreference=9
X-DocPath=kgrapheditor/kgrapheditor.html
Comment=A Graphviz DOT graph editor
Comment[ca]=Un editor de gràfics DOT del Graphviz
Comment[ca@valencia]=Un editor de gràfics DOT del Graphviz
Comment[cs]=Editor bodových grafů Graphviz
Comment[de]=Ein Graphviz-Dot-Diagrammeditor
Comment[el]=Ένας επεξεργαστής γράφων Graphviz DOT
Comment[en_GB]=A Graphviz DOT graph editor
Comment[es]=Un editor de grafos DOT de Graphviz
Comment[fr]=Un éditeur de graphes « DOT » au format « Graphviz »
Comment[gl]=Un editor de gráficos de Graphviz DOT.
Comment[is]=Graphviz ritill fyrir punktgröf
Comment[it]=Un editor di grafi DOT di Graphviz
Comment[nl]=Een Graphviz DOT-grafiek-bewerker
Comment[pl]=Edytor grafów Graphviz DOT
Comment[pt]=Um visualizador de grafos DOT do Graphviz
Comment[pt_BR]=Um editor de grafos DOT do Graphviz
Comment[sl]=Urejevalnik grafov Graphviz DOT
Comment[sv]=En editor av Graphviz dot-grafer
Comment[tr]=Graphviz DOT graf düzenleyici
Comment[uk]=Редактор графів DOT Graphviz
Comment[x-test]=xxA Graphviz DOT graph editorxx
Terminal=false
