[Desktop Entry]
Name=KGraphViewer
Name[bs]=KGraphViewer
Name[ca]=KGraphViewer
Name[ca@valencia]=KGraphViewer
Name[cs]=KGraphViewer
Name[da]=KGraphViewer
Name[de]=KGraphViewer
Name[el]=KGraphViewer
Name[en_GB]=KGraphViewer
Name[eo]=KGraphViewer
Name[es]=KGraphViewer
Name[et]=KGraphViewer
Name[eu]=KGraphViewer
Name[fi]=KGraphViewer
Name[fr]=KGraphViewer
Name[ga]=KGraphViewer
Name[gl]=KGraphViewer
Name[he]=KGraphViewer
Name[hu]=KGraphViewer
Name[is]=KGraphViewer
Name[it]=KGraphViewer
Name[ka]=KGraphViewer
Name[km]=KGraphViewer
Name[ko]=KGraphViewer
Name[lt]=KGraphViewer
Name[mr]=के-ग्राफ-व्यूअर
Name[nb]=KGraphViewer
Name[nds]=KGraphViewer
Name[nl]=KGraphViewer
Name[nn]=KGraphViewer
Name[pa]=ਕੇ-ਗਰਾਫ਼-ਦਰਸ਼ਕ
Name[pl]=KGraphViewer
Name[pt]=KGraphViewer
Name[pt_BR]=KGraphViewer
Name[ro]=KGraphViewer
Name[ru]=KGraphViewer
Name[sa]=KGraphViewer इति
Name[sk]=KGraphViewer
Name[sl]=KGraphViewer
Name[sv]=Kgraphviewer
Name[tr]=K Grafik Görüntüleyicisi
Name[uk]=KGraphViewer
Name[x-test]=xxKGraphViewerxx
Name[zh_CN]=KGraphViewer
Name[zh_TW]=KGraphViewer
MimeType=text/vnd.graphviz
Exec=kgraphviewer -qwindowtitle %c %u
Icon=kgraphviewer
Type=Application
StartupWMClass=kgraphviewer
Categories=Qt;KDE;Graphics;Viewer;2DGraphics;DataVisualization;
X-DocPath=kgraphviewer/index.html
InitialPreference=10
GenericName=Graphviz DOT graph viewer
GenericName[ca]=Visualitzador de gràfics DOT del Graphviz
GenericName[ca@valencia]=Visor de gràfics DOT de Graphviz
GenericName[cs]=Prohlížeč bodových grafů Graphviz
GenericName[de]=Anzeigeprogramm für Graphviz-Dot-Diagramme
GenericName[el]=Προβολέας γράφων Graphviz DOT
GenericName[en_GB]=Graphviz DOT graph viewer
GenericName[eo]=Graphviz-DOT grafea montrilo
GenericName[es]=Visor de grafos DOT de Graphviz
GenericName[et]=Graphvizi dot-graafide näitaja
GenericName[eu]=Graphviz DOT grafoen erakuslea
GenericName[fi]=Graphviz-dot-graafikatselin
GenericName[fr]=Afficheur de graphes « DOT » au format « GraphViz »
GenericName[gl]=Visor de gráficos de DOT de Graphviz
GenericName[he]=מציג תרשימי DOT של Graphviz
GenericName[is]=Graphviz-skoðari fyrir punktgröf
GenericName[it]=Visore di grafi DOT di Graphviz
GenericName[ka]=Graphviz-ის DOT გრაფიკის დათვალიერება
GenericName[ko]=Graphviz DOT 그래프 뷰어
GenericName[nl]=Graphviz DOT-grafiek-viewer
GenericName[nn]=Graphviz DOT-grafvisar
GenericName[pl]=Przeglądarka grafów Graphviz DOT
GenericName[pt]=Visualizador de grafos DOT do Graphviz
GenericName[pt_BR]=Visualizador de grafos DOT do Graphviz
GenericName[ro]=Vizualizor de grafuri DOT Graphviz
GenericName[ru]=Просмотрщик графов Graphviz
GenericName[sa]=Graphviz DOT आलेख दर्शक
GenericName[sl]=Pregledovalnik grafov Graphviz DOT
GenericName[sv]=Visning av Graphviz dot-grafer
GenericName[tr]=Graphviz DOT Grafik Görüntüleyicisi
GenericName[uk]=Засіб перегляду графів DOT Graphviz
GenericName[x-test]=xxGraphviz DOT graph viewerxx
GenericName[zh_CN]=Graphviz DOT 图表查看器
GenericName[zh_TW]=Graphviz DOT 圖形檢視器
Comment=A Graphviz DOT graph viewer
Comment[ca]=Un visualitzador de gràfics DOT del Graphviz
Comment[ca@valencia]=Un visor de gràfics DOT de Graphviz
Comment[cs]=Prohlížeč bodových grafů Graphviz
Comment[de]=Ein Anzeigeprogramm für Graphviz-Dot-Diagramme
Comment[el]=Ένας προβολέας γράφων Graphviz DOT
Comment[en_GB]=A Graphviz DOT graph viewer
Comment[eo]=Graphviz-DOT grafea montrilo
Comment[es]=Un visor de grafos DOT de Graphviz
Comment[et]=Graphvizi dot-graafide näitaja
Comment[eu]=Graphviz DOT grafiko erakusle bat
Comment[fi]=Graphviz-dot-graafikatselin
Comment[fr]=Un éditeur de graphes « DOT » au format « GraphViz »
Comment[gl]=Un visor de gráficos de DOT de Graphviz
Comment[he]=מציג תרשימי DOT של Graphviz
Comment[is]=Graphviz skoðari fyrir punktgröf
Comment[it]=Un visore di grafi DOT di Graphviz
Comment[ka]=Graphviz-ის DOT გრაფიკის დათვალიერება
Comment[ko]=Graphviz DOT 그래프 뷰어
Comment[nl]=Een Graphviz DOT-grafiek-viewer
Comment[nn]=Graphviz DOT-grafvisar
Comment[pl]=Przeglądarka grafów Graphviz DOT
Comment[pt]=Um visualizador de grafos DOT do Graphviz
Comment[pt_BR]=Um visualizador de grafos DOT do Graphviz
Comment[ro]=Un vizualizor de grafuri DOT Graphviz
Comment[ru]=Программа просмотра графов Graphviz
Comment[sa]=एकः Graphviz DOT आलेखदर्शकः
Comment[sl]=Pregledovalnik grafov Graphviz DOT
Comment[sv]=Visning av Graphviz dot-grafer
Comment[tr]=Graphviz DOT graf görüntüleyici
Comment[uk]=Засіб перегляду графів DOT Graphviz
Comment[x-test]=xxA Graphviz DOT graph viewerxx
Comment[zh_CN]=一个 Graphviz DOT 图表查看器
Comment[zh_TW]=Graphviz DOT 圖形檢視器
Terminal=false
