[Desktop Entry]
Name=KGraphViewer
Name[bs]=KGraphViewer
Name[ca]=KGraphViewer
Name[ca@valencia]=KGraphViewer
Name[cs]=KGraphViewer
Name[da]=KGraphViewer
Name[de]=KGraphViewer
Name[el]=KGraphViewer
Name[en_GB]=KGraphViewer
Name[es]=KGraphViewer
Name[et]=KGraphViewer
Name[fi]=KGraphViewer
Name[fr]=KGraphViewer
Name[ga]=KGraphViewer
Name[gl]=KGraphViewer
Name[hu]=KGraphViewer
Name[is]=KGraphViewer
Name[it]=KGraphViewer
Name[km]=KGraphViewer
Name[ko]=KGraphViewer
Name[lt]=KGraphViewer
Name[mr]=के-ग्राफ-व्यूअर
Name[nb]=KGraphViewer
Name[nds]=KGraphViewer
Name[nl]=KGraphViewer
Name[nn]=KGraphViewer
Name[pl]=KGraphViewer
Name[pt]=KGraphViewer
Name[pt_BR]=KGraphViewer
Name[ru]=KGraphViewer
Name[sk]=KGraphViewer
Name[sl]=Pregledovalnik KGraph
Name[sv]=Kgraphviewer
Name[tr]=KGraphViewer
Name[uk]=KGraphViewer
Name[x-test]=xxKGraphViewerxx
Name[zh_TW]=KGraphViewer
MimeType=text/vnd.graphviz
Exec=kgraphviewer -qwindowtitle %c
Icon=kgraphviewer
Type=Application
Categories=Qt;KDE;Graphics;Viewer;2DGraphics;DataVisualization;
X-DocPath=kgraphviewer/index.html
InitialPreference=10
Comment=A Graphviz DOT graph viewer
Comment[ca]=Un visor de gràfics DOT del Graphviz
Comment[de]=Ein Anzeigeprogramm für Graphviz-Dot-Diagramme
Comment[es]=Un visor de grafos DOT de Graphviz
Comment[it]=Un visore di grafi DOT di Graphviz
Comment[nl]=Een Graphviz DOT-grafiek-viewer
Comment[pt]=Um visualizador de grafos DOT do Graphviz
Comment[sv]=Visning av Graphviz dot-grafer
Comment[uk]=Засіб перегляду графів DOT Graphviz
Comment[x-test]=xxA Graphviz DOT graph viewerxx
Terminal=false
