[Desktop Entry]
Comment=Graphviz dot graph file viewed by KGraphViewer
Comment[fr]=Fichier de graphe au format dot de Graphviz visualisé par KGraphViewer
Encoding=UTF-8
Icon=kgraphviewer
MimeType=application/kgraphviewer
Patterns=*.dot
Type=MimeType
